.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 10px -10px rgb(0 0 0 / 50%);
    padding: 10px;
  }
  .category-image-box {
    width: 40%;
    @media screen and (max-width:599px){
      width: 58%;
    }
  }
  .category-image {
    width: 90%;
    height: 200px;
    object-fit: contain;
  }
  .category-content-box {
    width: 70%;
    text-align: center;
  }
  .category-content-heading {
    font-size: 28px;
    font-weight: 800;
    @media screen and(max-width:599px){
      font-size: 16px;
    }
  }
  .category-contnent-description {
    margin-top: 20px;
    font-size: 16px;
  }
  .category-contnent-button {
    margin-top: 30px;
  }