.carousel-container {
    display: flex;
    justify-content: center;
    .carousel-box {
      width: 80%;
      box-shadow: 0 8px 10px -10px rgb(0 0 0 / 50%);
      z-index: 1;
      .carosal {
        margin-top: 20px;
      }
    }
  }